<h2>New Visitor Request</h2>
<div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Name" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [(ngModel)]="email" placeholder="Email" type="email" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="mobile" placeholder="Mobile" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Visitor Type" required>
        <mat-option *ngFor="let visitor of visitorType" value="{{visitor.visitor_type_cd}}">
          {{visitor.visitor_type_cd}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput placeholder="Photo" type="file" required>
    </mat-form-field> -->
    <input id="visitorImage" (change)="validateFile()" type="file" accept="image/png, image/jpeg">

    <mat-form-field>
      <input matInput [(ngModel)]="referredBy" placeholder="Referred By" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="inTime" placeholder="IN Time" type="time" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="outTime" placeholder="OUT Time" type="time" required>
    </mat-form-field>

    <mat-card-actions>
        <button mat-raised-button (click)="submitRequest()" color="primary">Submit Request</button>
    </mat-card-actions>

</div>
