<h2>New Visitor Request</h2>
<div style="width: 100%; display:inline-flex;">
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="email" required>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Mobile" [(ngModel)]="mobile" required>
        </mat-form-field>
    
        <mat-form-field>
          <mat-select [(ngModel)]="selectedVisitorType" placeholder="Visitor Type" required>
              <mat-option [value]="type.code" *ngFor="let type of visitorTypes">{{type.value}}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <!-- <mat-form-field>
          <input matInput placeholder="Photo" type="file" required>
        </mat-form-field> -->
      <div class="file-input">
          <input  (change)="validateFile()" type="file" accept="image/png, image/jpeg" id="visitorImage"/>
      </div>

      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      
        <mat-form-field>
          <input matInput placeholder="Referred By" [(ngModel)]="referredBy" required>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="IN Time" type="date" [(ngModel)]="inTime" required>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="OUT Time" type="date" [(ngModel)]="outTime" required>
        </mat-form-field>
    
        <mat-card-actions>
            <button mat-raised-button (click)="submitVisitorDetails()" color="primary">Submit Request</button>
        </mat-card-actions>
    </div>

 
</div>
<div class="modal-container" *ngIf="flag==true">
    <div class="modal-elem" style="width: 400px; height: 600px;">
      <div style="width: 100%; height: 30px; text-align: right; padding-top: 5px;"><span style="margin-top: 20px; border: 1px solid black;
        padding: 0px 4px;  background: white; border-radius: 50%;" (click)='toggle()'>X</span></div>
      <div class="name">
        <span >Your request has been submitted, please find below the details:</span>
      </div>
      <div class="card">
        <div class="inline-elem" style="display:inline-flex; width: 100%">
              <span><strong>{{visitorName}}</strong></span>
          </div>
          <div class="inline-elem" style="display:inline-flex; width: 100%">
              <img [src]="imageSource" alt="pic" style="width: 100px; height: 100px;"/>
          </div>
          <div class="inline-elem" style="width: 100%">
              <img [src]="qrSource" alt="QR" style="width: 100px;height: 100px;" />
          </div>
      </div>
      <div style="padding: 5px 5px; margin: 10px 10px;">
          <mat-card-actions>
              <button mat-raised-button (click)="toggle()" color="secondary">Okay</button>
          </mat-card-actions>
      </div>
    </div>
</div>