<h2>New Visitor Request</h2>
<div style="width: 100%; display:inline-flex;">
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="name" required>
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="email" required>
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="Mobile" [(ngModel)]="mobile" required>
        </mat-form-field>
    
        <mat-form-field>
          <mat-select [(ngModel)]="selectedVisitorType" placeholder="Visitor Type" required>
              <mat-option [value]="type.code" *ngFor="let type of visitorTypes">{{type.value}}</mat-option>
    
          </mat-select>
        </mat-form-field>
    
        <!-- <mat-form-field>
          <input matInput placeholder="Photo" type="file" required>
        </mat-form-field> -->
        <input (change)="validateFile()" type="file" accept="image/png, image/jpeg" id="visitorImage">
    
        <mat-form-field>
          <input matInput placeholder="Referred By" [(ngModel)]="referredBy" required>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="IN Time" type="date" [(ngModel)]="inTime" required>
        </mat-form-field>
    
        <mat-form-field>
          <input matInput placeholder="OUT Time" type="date" [(ngModel)]="outTime" required>
        </mat-form-field>
    
        <mat-card-actions>
            <button mat-raised-button (click)="submitVisitorDetails()" color="primary">Submit Request</button>
        </mat-card-actions>
    
    </div>
    <div style="width: 50%">
        <img src="{{imageSource}}" alt="pic" style="width: 200px; height: 200px;"/>
    </div>
</div>