.example-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}
  
.example-container > * {
    width: 20%;
    padding-left: 40%;
}
.modal-container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 900;
    background: rgba(0,0,0, 0.3);
    position: absolute;
}
.modal-elem{
    z-index: 1000;
    background: white;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    margin-left: 200px;
}
.file-input{
    padding-left: 25px !important;
}
.inline-elem{
    padding: 20px;
}
.card{
    margin: 10px;
    padding: 10px;
    border: 1px solid #f7f7f7;
}