.example-action-button {
    margin-bottom: 8px;
  }
.example-container{
  width: 50%;
  padding: 20px;
}
/deep/ .mat-form-field{
  width: -webkit-fill-available;
}
/deep/.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 15px;
}
