/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255,255,255, 0.5)), url('assets/ccc-bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}


.spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
}
.whole-page{
    z-index: 900;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

 table.mat-table{
    width: -webkit-fill-available !important;
    background: rgba(255,255,255,0.2);
    text-align: left;
}
.example-container{
    width: 50%;
    padding-left: 20px;
}
.example-container[_ngcontent-c5] > *[_ngcontent-c5] {
    width: -webkit-fill-available !important;
    padding-left: 20px !important;
}