<h2>Enter Employee ID</h2>
<div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="id" placeholder="ID" required>
    </mat-form-field>

    <mat-card-actions style="margin-left:5%;">
      <button mat-raised-button (click)="getEmployeeDetails()" color="primary">Get Details</button>
    </mat-card-actions>
</div>

<div *ngIf="employeeData">
    <mat-form-field>
      <input [(ngModel)]="name" matInput placeholder="Name" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="email" matInput placeholder="Email" required>
    </mat-form-field>

    <mat-form-field>
        <input [(ngModel)]="mobile" matInput placeholder="Mobile" required>
    </mat-form-field>

    <img [src]="image_data" alt="pic" style="width: 100px; height: 100px;"/>

    <mat-card-actions style="margin-left:5%;">
        <button mat-raised-button (click)="login()" color="primary">Print Pass</button>
    </mat-card-actions>
</div>

<div *ngIf="errorDiv">
    <span style="color:red">No Details Found!</span>
</div>
